In [11]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alfa\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alfa\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alfa\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alfa\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver=webdriver.Chrome()

In [16]:
#opening the shine.com page  on automated chrome browser
driver.get("https://www.shine.com/")

In [17]:
#entering destination  and location as required in question
skills=driver.find_element(By.CLASS_NAME,"form-control")
skills.send_keys('Data Scientist')

In [19]:
search_jobs=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_jobs.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
start=0
end=10
for page in range(start,end):

#scraping job titles from the given page
 title_tags=driver.find_elements(By.XPATH,'//div[/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2/a]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag:
    location=i.text
    job_location.append(location)      
                                  
 
    #scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)   
                                  

          #scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(experience_required))

20 20 20 20 20

In [28]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df=df.head(10)
df

,Title,Location,company_name,Experience
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
2,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
3,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
5,Data Modeler,Delhi\n+9,v-tech data outsourcing,0 to 2 Yrs
6,Data Engineer,Delhi\n+9,future solution centre,10 to 20 Yrs
7,Biostatistician,Delhi\n+17,national seeds corporation limited,2 to 7 Yrs
8,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
9,Clinical Document Specialist,Delhi\n+6,techno endura,0 to 1 Yr