scrape data from naukari.com website for Data analyst job role for banglore location.we will scrape 4 fields
1)job titles 2)company name 3)location of job 4)experience requiored.

In [55]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alfa\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio~=0.17 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: cffi>=1.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alfa\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alfa\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alfa\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [56]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [57]:
driver=webdriver.Chrome()

In [58]:
#opening the naukari page  on automated chrome browser
driver.get("https://www.naukri.com/")

In [59]:
#entering destination  and location as required in question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [60]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [61]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [62]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [63]:
#scraping job titles from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [64]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [65]:
import pandas as pd

In [66]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,"Senior Data Scientist, Reporting","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,6-7 Yrs
1,GenAI Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Ford,5-6 Yrs
2,Principal Data Scientist,Bangalore/Bengaluru,Scaler Academy,6-12 Yrs
3,Data Scientist III,Bangalore/Bengaluru,Walmart,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Response Informatics,4-7 Yrs
5,Principal Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Response Informatics,12-15 Yrs
6,"Lead Data Scientist-NLP,Generative AI","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Response Informatics,5-10 Yrs
7,Lead Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Response Informatics,7-12 Yrs
8,Lotus Interworks - Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Lotus Interworks Inc,1-5 Yrs
9,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Pune",Axtria,4-8 Yrs
10,AI Engineer,Bangalore/Bengaluru,IBM,4-8 Yrs
11,Data Scientist,Bangalore/Bengaluru,IBM,3-6 Yrs
12,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos,4-9 Yrs
13,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Windmill,3-8 Yrs
14,"Senior Data Scientist, SCM","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Neem Consulting Limited,4-9 Yrs
15,Data Scientist I,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Elitefit.ai,0-4 Yrs
16,Data Analytics-Corporate HR,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Tata Communications,3-6 Yrs
17,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Chennai",Financial Software Systems,2-3 Yrs
18,Data Scientist-Immediate Joiner-L1(HAckerrank),"Hybrid - Hyderabad, Chennai, Bengaluru",Altimetrik,5-8 Yrs
19,Senior Data Scientist (MLE),Bangalore/Bengaluru,Walmart,5-8 Yrs

In [27]:
#to fetch the url
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bc12e339185394dbaf766855691fd07b", element="D173DBDA6ADD54EA1BDDE5EBA496C1AE_element_81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc12e339185394dbaf766855691fd07b", element="D173DBDA6ADD54EA1BDDE5EBA496C1AE_element_82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc12e339185394dbaf766855691fd07b", element="D173DBDA6ADD54EA1BDDE5EBA496C1AE_element_83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bc12e339185394dbaf766855691fd07b", element="D173DBDA6ADD54EA1BDDE5EBA496C1AE_element_84")>]

In [32]:
for i in url[0:8]:   #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-senior-data-scientist-reporting-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-7-years-220124502188
https://www.naukri.com/job-listings-genai-data-scientist-ford-global-business-services-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-5-to-6-years-101123500520
https://www.naukri.com/job-listings-principal-data-scientist-scaler-academy-bangalore-bengaluru-6-to-12-years-220124502449
None
None
None
None
None

In [40]:
job_titles=[] #find all 3  page of job titles

In [41]:
start=0
end=3
for page in range(start,end):
    
    title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in title_tags:
        title=i.text
        job_titles.append(title)
        
next_button=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[2]/div[3]/div/a[2]') #to scrape from next button
next_button.click()
time.sleep(3)

In [42]:
job_titles

['Data Scientist - Credit Card',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (Analytic Engineer)',
 'Data Scientist',
 'Staff Data Scientist',
 'Advanced Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - AI/ML',
 'Data Scientist',
 'Data Scientist',
 'Staff data scientist',
 'Staff Data Scientist',
 'Data Scientist - Image Processing',
 'Data Scientist II',
 'Data Scientist - Credit Card',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (Analytic Engineer)',
 'Data Scientist',
 'Staff Data Scientist',
 'Advanced Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - AI/ML',
 'Data Scientist',
 'Data Scientist',
 'Staff data scientist',
 'Staff Data Scientist',
 'Data Scientist - Image Processing',
 'Data Scientist II',
 'Data Scientist - Credit Card',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist (Analytic Engineer)',
 'Data Scientist',
 'Staff Data Scientist',
 'Advanced Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - AI/ML',
 'Data Scientist',
 'Data Scientist',
 'Staff data scientist',
 'Staff Data Scientist',
 'Data Scientist - Image Processing',
 'Data Scientist II']

In [43]:
len(job_titles)

60