In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alfa\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\alfa\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: outcome in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\alfa\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\alfa\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alfa\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alfa\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alfa\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [17]:
driver=webdriver.Chrome()

In [18]:
#opening the shine.com page  on automated chrome browser
driver.get("https://www.shine.com/")

In [19]:
#entering destination  and location as required in question
skills=driver.find_element(By.CLASS_NAME,"form-control")
skills.send_keys('Data Analyst')

In [20]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [21]:
search_jobs=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_jobs.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#scraping job titles from the given page
title_tags=driver.find_elements(By.XPATH,'//div[/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2/a]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tag:
    location=i.text
    job_location.append(location)      
                                  
 
    #scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)   
                                  

          #scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [12]:
import pandas as pd

In [15]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df=df.head(10)
df

,Title,Location,company_name,Experience
0,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
1,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
2,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
3,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
4,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs